/* for table */

a:hover { text-decoration: underline; }

#rounded-corner
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: left;
	border-collapse: collapse;
	border: none;
}
#rounded-corner thead th.rounded-company
{
	background: #752823;
	border-top-left-radius:10px;
	/* url('../images/left.png') left -1px no-repeat;*/
}
#rounded-corner thead th.rounded-q4
{
	background: #752823;
	border-top-right-radius:10px;
	/* url('../images/right.png') right -1px no-repeat;*/
}
#rounded-corner th
{
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	border-color:#FFFFFF;
	color: #039;
	background: #752823;
}
#rounded-corner tbody tr td
{
	padding: 1px;
	background: #F4DFDF;
	border: 1px solid #fff;
	color: #669;
	border-bottom:none;
	border-right:none;
	padding: 5px 5px 0 12px;
}

#rounded-corner tfoot td.rounded-foot-left
{
	background: #F4DFDF;
	border-bottom-left-radius:10px;
	 /*url('../images/botleft.png') left bottom no-repeat;*/
}
#rounded-corner tfoot td.rounded-foot-right
{
	background: #F4DFDF;
	border-bottom-right-radius:10px;
	/* url('../images/botright.png') right bottom no-repeat;*/
}

/* end of table */