@charset "utf-8";

@import url(fontawesome-4.2.0.min.css);

@import url(../scripts/nivo-lightbox/nivo-lightbox.min.css);

@import url(framework.css);


/* for table */

a:hover { text-decoration: underline; }

#rounded-corner
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: left;
	border-collapse: collapse;
	border: none;
}
#rounded-corner thead th.rounded-company
{
	background: #003366;
	border-top-left-radius:10px;
	/* url('../images/left.png') left -1px no-repeat;*/
}
#rounded-corner thead th.rounded-q4
{
	background: #003366;
	border-top-right-radius:10px;
	/* url('../images/right.png') right -1px no-repeat;*/
}
#rounded-corner th
{
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	border-color:#FFFFFF;
	color: #ffffff;
	background: #003366;
}
#rounded-corner tbody tr td
{
	padding: 1px;
	background: #e6771cc7;
	border: 1px solid #fff;
	color:#000000;
	border-bottom:none;
	border-right:none;
	padding: 5px 5px 0 12px;
}

#rounded-corner tfoot td.rounded-foot-left
{
	background:#003366;
	border-bottom-left-radius:10px;
	 /*url('../images/botleft.png') left bottom no-repeat;*/
}
#rounded-corner tfoot td.rounded-foot-right
{
	background: #003366;
	border-bottom-right-radius:10px;
	/* url('../images/botright.png') right bottom no-repeat;*/
}

/* end of table */







#topbar {
    padding: 10px 0 0;
    text-align: right;
    font-size: .8em
}

#topbar li {
    display: inline;
    margin-right: 3px;
    padding-right: 8px;
    border-right: 1px solid
}

#topbar li:last-child {
    margin-right: 0;
    padding-right: 0;
    border: none
}

#header #logo h1 {
    margin: 0 0 8px;
    padding: 0;
    font-size: 36px;
    line-height: 15px;
    font-variant: small-caps;
    font-style: normal
}

#copyright p,#header #logo p {
    margin: 0;
    padding: 0;
	font-size:16px;
	
}

#header form {
    display: block;
    position: relative;
    width: 100%
}

#header button,#header input {
    display: block;
    height: 30px;
    border: none
}

#header input {
    width: 100%;
    min-width: 250px;
    padding: 5px 40px 5px 5px
}

#header button {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    font-size: 16px;
    cursor: pointer
}

#footer button em,#header button em {
    display: none
}

#slider {
    position: relative;
    overflow: hidden
}

#slider .rounded {
    padding: 9px
}

#slider a,#slider img,#slider ul {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
	
}

#slide-wrapper,#slide-wrapper figure,#slide-wrapper img,#slider #slide-tabs {
    display: block;
    overflow: hidden
}

#slide-wrapper figure,#slide-wrapper figure img {
    position: relative
}

#slide-wrapper figure figcaption {
    display: block;
    position: absolute;
    top: 50px;
    right: 25px;
    width: 350px;
    height: 200px;
    margin: 0;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden
}

#slide-wrapper figure figcaption p {
    margin: 0;
    padding: 0;
    line-height: 1.6em
}

#slider #slide-tabs {
    font-size: 12px
}

#slider #slide-tabs li {
    display: inline-block;
    float: left
}

#slider #slide-tabs li a {
    display: block;
    width: 192px;
    min-height: 60px;
    padding: 10px;
    box-sizing: border-box;
    border: solid;
    border-width: 0 0 1px 1px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #666;
    background-color: #dedacb;
    border-color: #666
}

#slider #slide-tabs li:last-child a {
    border-width: 0 1px 1px
}

.container {
    /*padding: 20px 10px*/
}

.container .heading,.container h1,.container h2,.container h3,.container h4,.container h5,.container h6 {
    padding-bottom: 8px;
   border-bottom: 1px dotted;
   
   
   
   
}

#twitter {
    display: block;
    padding: 15px
}

#twitter div {
    padding: 25px 0
}

#twitter div:first-child {
    border-right: 2px solid;
    border-color: #fff
}

.listing li {
    margin: 0 0 30px;
    padding: 0 0 20px;
    border-bottom: 1px solid
}

.listing li:last-child,.quickinfo li:last-child,.sidebar .sdb_holder:last-child {
    margin-bottom: 0;
	
}

.mediacontainer,.mediacontainer iframe {
    display: block;
    margin: 0;
    padding: 0
}

.mediacontainer {
    width: 100%;
    position: relative
}

.quickinfo {
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word
}

.quickinfo li {
    min-height: 80px;
    margin: 0 0 20px;
    overflow: hidden
}

.quickinfo li a {
    position: relative;
    min-height: 80px;
    padding: 18px 0 0 80px;
    box-sizing: border-box
}

.quickinfo li a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px
}

#comments ul {
    margin: 0 0 40px;
    padding: 0;
    list-style: none
}

#comments li {
    margin: 0 0 10px;
    padding: 15px
}

#comments .avatar {
    float: right;
    margin: 0 0 10px 10px;
    padding: 3px;
    border: 1px solid
}

#comments address,.quickinfo {
    font-weight: 700
}

#comments time {
    font-size: smaller
}

#comments .comcont {
    display: block;
    margin: 0;
    padding: 0
}

#comments .comcont p {
    margin: 10px 5px 10px 0;
    padding: 0
}

#comments form,.quickinfo li,.quickinfo li a,.sidebar nav {
    display: block;
    width: 100%
}

#comments input,#comments textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid
}

#comments textarea {
    overflow: auto
}

#comments div {
    margin-bottom: 15px
}

#comments input[type=reset],#comments input[type=submit] {
    display: inline-block;
    width: auto;
    min-width: 150px;
    margin: 0;
    padding: 8px 5px;
    cursor: pointer
	
}

.sidebar .sdb_holder {
    margin-bottom: 50px;
	color:#336600;
	font-size:15px;
	
	
}

#footer {
    padding: 10px
}

#footer .faico {
    margin-bottom: 10px
}

#footer .faico li {
    margin: 0 10px 0 0
}

#footer .faico li:last-child,#mainav li:last-child,.faico li:last-child,.pagination li:last-child {
    margin-right: 0
}

#footer .faico a {
    border: 1px solid;
    box-shadow: 2px 2px 0 0 rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.2)
}

#footer form {
    display: block;
    position: relative;
    width: 100%
}

#footer legend {
    display: block;
    width: 100%;
    margin-bottom: 10px
}

#footer button,#footer input {
    display: block;
    height: 30px;
    border: none
}

#footer input {
    width: 100%;
    min-width: 250px;
    padding: 5px 40px 5px 5px
}

#footer button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35px;
    font-size: 16px;
    cursor: pointer
}

#breadcrumb ul,nav ol,nav ul {
    margin: 0;
    padding: 0;
    list-style: none
}

#breadcrumb li a::after,#mainav .drop::after,#mainav li li .drop::after,.sidebar nav a::after {
    position: absolute;
    font-family: "FontAwesome";
    font-size: 10px;
    line-height: 10px
}

#mainav {
    text-align: center;
    text-transform: uppercase
}

/*#mainav ul ul {
    z-index: 9999;
    position: absolute;
    width: 160px;
    display: none
}

#mainav ul ul ul {
    left: 160px;
    top: 0
}

#mainav li {
    display: inline-block;
    position: relative;
    margin: 0 30px 0 0;
    padding: 0
}

#mainav li li {
    width: 100%;
    margin: 0;
    text-align: left;
    text-transform: none
}

#mainav li a {
    display: block;
    padding: 0;
	font-size:12px
}

#mainav li li a {
    border: solid;
    border-width: 0 0 1px
}

#mainav li li:last-child a {
    border-bottom: none
}

#mainav .drop {
    padding-left: 10px;
	
	font-size:12px;
	
}

#breadcrumb li a,#mainav li li .drop,#mainav li li a {
    display: block;
    margin: 0;
    padding: 10px 15px
}

#mainav .drop::after,#mainav li li .drop::after {

font-size:8px;
    content: "\25B6";
	
}

#mainav .drop::after {

    top: 5px;
    left: 5px
}

#mainav li li .drop::after {
    top: 15px;
    left: 5px
}

#mainav ul li:hover>ul {
    display: block
}

#mainav form {
    display: none;
    margin: 0;
    padding: 0
}

#mainav form select,#mainav form select option {
    display: block;
    cursor: pointer;
    outline: none
}

#mainav form select {
    width: 100%;
    padding: 5px;
    border: 1px solid
}

#mainav form select option {
    margin: 5px;
    padding: 0;
    border: none
}*/

#breadcrumb li {
    display: inline-block;
    margin: 0 6px 0 0;
    padding: 0
}

#breadcrumb li a {
    position: relative;
    padding: 0 12px 0 0;
    font-size: 12px
}

#breadcrumb li a::after {
    top: 5px;
    right: 0;
    content: "\f101"
}

#breadcrumb li:last-child a {
    margin: 0;
    padding: 0
}

#breadcrumb li:last-child a::after {
    display: none
}

.sidebar nav li {
    margin: 0 0 3px;
    padding: 0
}

.sidebar nav a {
    display: block;
    position: relative;
    margin: 0;
    padding: 5px 10px 5px 15px;
    text-decoration: none;
    border: solid;
    border-width: 0 0 1px;
	
	
}

.sidebar nav a:hover {
	text-decoration:underline;
}


.sidebar nav a::after {
    top: 9px;
    left: 5px;
    content: "\f101"
}

.sidebar nav ul ul a {
    padding-left: 35px
}

.sidebar nav ul ul a::after {
    left: 25px
}

.sidebar nav ul ul ul a {
    padding-left: 55px
}

.sidebar nav ul ul ul a::after {
    left: 45px
}

.pagination {
    text-align: center
}

.faico li,.pagination li {
    display: inline-block;
    margin: 0 2px 0 0
}

.pagination a,.pagination strong {
    display: block;
    padding: 8px 11px;
    border: 1px solid;
    font-weight: 400;
    background-clip: padding-box
}

table,td,th {
    border: 1px medium;
    border-collapse: separate;
    vertical-align: top;
    box-sizing: border-box;
	border-color:#ffffff;
	
}

td
{
	/*background-color:#e8edff;*/
}

table,th {
    table-layout: auto;
	
}

#gallery,table {
    width: 100%;
    margin-bottom: 15px
}

td,th {
    padding: 5px 8px
}

td {
    border-width: 0 1px
}

#gallery {
    margin-bottom: 50px
}

#gallery figure figcaption,.pagination {
    display: block;
    width: 100%;
    clear: both
}

#gallery li,#portfolio img,#portfolio li {
    margin-bottom: 30px
}

#gallery,#gallery li a,#portfolio,.faico a {
    display: block
}

#portfolio {
    width: 100%;
    margin-bottom: 20px
}

.faico {
    margin: 0;
    padding: 0;
    list-style: none
}

.faico li {
    padding: 0;
    line-height: normal
}

.faico a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    color: #fff
}

.faico a:hover {
    color: #fff;
    background-color: #ccc
}

.faicon-facebook {
    background-color: #3b5998
}

.faicon-flickr {
    background-color: #ff0084
}

.faicon-linkedin {
    background-color: #0e76a8
}

.faicon-rss {
    background-color: #ee802f
}

.faicon-twitter {
    background-color: #00acee
}

#comments li,#footer input,#header input,#slide-wrapper figcaption,#twitter,.avatar,.faico a,.pagination a,.pagination strong,.rounded,button,input,textarea {
    border-radius: 8px
}

#footer button,#header button {
    border-radius: 0 8px 8px 0
}

#mainav li li:last-child a {
    border-radius: 0 0 8px 8px
}

#mainav li li:first-child a,#slide-wrapper figure .view:hover::before,#slide-wrapper figure img {
    border-radius: 8px 8px 0 0
}

#slider #slide-tabs li:first-child a {
    border-radius: 0 0 0 8px
}

#slider #slide-tabs li:last-child a {
    border-radius: 0 0 8px 0
}

body {
   
  background-color: #FEFDFC;
	color:#000000;
	 background: url(../../Image/middle_bg_wrapper.jpg); 
	/*
	 background-color: #06213f;
	background-repeat: repeat-y;
	 background: url(../../Image/banner_1.jpg);
 background-color: #FF9900;
	*/
	




}

/*.container .sidebar nav a:hover,a {
    color: #004080}*/

#mainav form select,.borderedbox,.container .heading,.container h1,.container h2,.container h3,.container h4,.container h5,.container h6,.listing li,hr {
  /* border-color: #0066FF;*/
	color:#004080;
	text-align:left;
	padding-top:5px;
	font-size:20px;
	font-weight:800;
	margin-bottom:03px;
	/*border-radius:10px;*/
	
}
#mainav form select
{
border-color: #0066FF;
	color:#9966FF;
	text-align:center;
	padding-top:5px;
	border-radius:10px;
	}

label span {
    color: red;
    background-color: inherit
}

.rounded {
    color: inherit;
	    background-color: #FFFFFF;
		font-family:Arial, Helvetica, sans-serif;
		
		
		
		}

.row0,.row0 a,.row1,.row1 a {
    color: #f9f9f9;
    background-color: #06213f
}

.row1 {
    color: #979797
}

.row1 a {
    background-color: inherit
	
}

.row2,.row2 a,.row3,.row4 {
    color: #06213f;
    background-color: inherit
}

.row3,.row4 {
    color: #6B6B6B;}

.row5,.row5 a {
    color: #55abda;
    background-color: #06213f
}

#topbar li {
    border-color: #fff
}

#header input {
    color: #979797
}

#footer button,#header button {
    color: #f9f9f9;
    background-color: #55abda
}

#slide-wrapper figure figcaption {
    color: #666;
    background-color: rgba(255,255,255,.5)
}

#header input,#slide-wrapper figure figcaption:hover {
    background-color: #fff
}

#slider #slide-tabs li a:hover,#slider #slide-tabs li.active a,#twitter,.pagination .current strong,.quickinfo li a:hover {
    color: #fff;
    background-color: #06213f
}

.quickinfo li a {
    color: #666;
    background-color: #dedacb
}

#footer input {
    color: #fff;
    background-color: #979797
}

#mainav li a {
    color: inherit
}

#breadcrumb a,#mainav .active a,#mainav a:hover,#mainav li:hover>a {
    color: #55abda;
    background-color: inherit
}

#mainav .active li a,#mainav li li a {
    color: #fff;
    background-color: rgba(6,35,66,.9);
    border-color: rgba(0,0,0,.6)
}

#mainav .active .active>a,#mainav li li:hover>a {
    color: #fff;
    background-color: #55abda
}

#breadcrumb a {
    color: #888
}

#breadcrumb li:last-child a {
    color: #55abda
}

.container .sidebar nav a {
    color: inherit;
    border-color: #d7d7d7
}

#comments .avatar,#comments input,#comments textarea,.pagination a,.pagination strong,table,td,th {
    border-color: #d7d7d7
}

th {
    color: #039;
  background-color: #b9c9fe/* background-color:#FFCC00 */
}

#comments input[type=reset],#comments input[type=submit],#comments li,tr {
    color: inherit;
    background-color: #fbfbfb
}

#comments li:nth-child(odd),tr:nth-child(odd) {
    color: inherit;
    background-color: #fff
}

#comments a,table a {
    /* background-color: inherit */
    color:white;
}

@-ms-viewport {
    width:device-width
}

@media screen and (min-width:180px) and (max-width:750px) {
    .imgl,.imgr {
        display: inline-block;
        float: none;
        margin: 0 0 10px
    }

    .fl_left,.fl_right {
        display: block;
        float:none;
		
		
		
    }

    .one_half,.one_quarter,.one_third,.three_quarter,.two_quarter,.two_third {
        display: block;
        float: none;
        width: auto;
        margin: 0 0 30px;
        padding: 0
		
		
    }
}

@media screen and (min-width:180px) and (max-width:900px) {
    .wrapper {
        max-width: 95%
    }

    #copyright,#header #logo,#topbar {
        text-align: center
    }

    #header #logo {
        margin-bottom: 15px
    }

    #header #logo h1 {
        margin: 0;
        line-height: 1em
    }

    #header form {
        max-width: 250px;
        margin: 0 auto
    }

    #footer input,#header input {
        min-width: 0
    }

    #mainav ul,#slide-wrapper figure figcaption {
        display: none
    }

    #mainav form {
        display: block
    }
#lines { 
    border-bottom: 17px double black; 
    border-top: 6px solid black; 
    content:"";
    height: 5px; 
    width:30px;
}
    #slider .view,#slider .view:hover::before {
        display: block;
        position: relative;
        width: 100%;
        height: 100%
    }

    #slider .view:hover::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        background-color: rgba(0,0,0,.6);
        z-index: 1
    }

    #slider .view:hover::after {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 36px;
        height: 36px;
        margin: -18px 0 0 -18px;
        text-align: center;
        font-family: "FontAwesome";
        content: "\f05a";
        font-size: 36px;
        line-height: 36px;
        z-index: 2
    }

    #slider #slide-tabs li {
        display: block;
        float: none
    }

    #slider #slide-tabs li a {
        width: 100%;
        min-height: 0;
        border-width: 0 1px 1px
    }

    #slider #slide-tabs li:first-child a {
        border-radius: 0
    }

    #slider #slide-tabs li:last-child a {
        border-radius: 0 0 8px 8px
    }

    #twitter div {
        margin: 0;
        padding: 0
    }

    #twitter div:first-child {
        padding: 15px 0;
        border-right: none
    }

    .quickinfo li {
        max-width: 250px
    }

    #footer div:last-child {
        margin-bottom: 0
    }

    #footer figure.center {
        text-align: left
    }

    #footer .faico li {
        margin: 0 10px 10px 0
    }

    #copyright p:first-of-type {
        margin-bottom: 10px
    }

    #comments input[type=reset] {
        margin-top: 10px
    }

    .pagination li {
        display: inline-block;
        margin: 0 5px 5px 0
    }
}

@media screen and (min-width:750px) and (max-width:900px) {
    .quickinfo {
        font-size: 11px;
        line-height: 1.2em
    }

    .quickinfo li a {
        padding: 20px 5px 0 85px
    }
}

@media screen and (min-width:978px) {
    .wrapper {
        max-width: 978px
    }
}

@media screen and (max-width:650px) {
    .scrollable {
        display: block;
        width: 100%;
        margin: 0 0 30px;
        padding: 0 0 15px;
        overflow: auto;
        overflow-x: scroll
    }

    .scrollable table {
        margin: 0;
        padding: 0;
        white-space: nowrap
    }
}

