.nivoSlider {
    position: relative
}

.nivoSlider a.nivo-imageLink,.nivoSlider img {
    position: absolute;
    top: 0;
    left: 0
}

.nivoSlider a.nivo-imageLink {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 6
}

.nivo-slice {
    height: 100%
}

.nivo-box,.nivo-slice {
    display: block;
    position: absolute;
    z-index: 5
}

.nivo-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #000;
    color: #fff;
    opacity: .8;
    width: 100%;
    z-index: 8
}

#rotator_banner p,.nivo-caption p {
    padding: 5px;
    margin: 0;
    font-weight: 700;
    color: #fff;
    z-index: 1000
}

.nivo-caption a {
    display: inline!important
}

.nivo-html-caption {
    display: none
}

.nivo-directionNav a {
    position: absolute;
    top: 45%;
    z-index: 9;
    cursor: pointer
}

.nivo-prevNav {
    left: 0
}

.nivo-nextNav {
    right: 0
}

.nivo-controlNav a {
    position: relative;
    z-index: 9;
    cursor: pointer
}

.nivo-controlNav a.active {
    font-weight: 700
}