
/*##########################################################################################################

Welcome to Responsive QuickMenu!  The bulk of your menu is fully customizable by adding and editing the
styles outlined below.  Use a plain text editor to customize this file!

There are addtiional customizable features that are applied directly to the HTML for the menu, view and
edit the menu.html files source for more help and options.

-- Definitions of Terms Used --

     Drop Down Style:  This is the standard drop down style menu, which by default displays on large devices. 
     Fill Style:  The fill style menu fits the screen as a pop-up, similar to an iOS or Android system drill down menu.
     Pure CSS: The menu when the user has JavaScript disabled in the browser.
	 Parent Item: Items that have a child menu (sub menu).
	 Active Item: An item is active only when its child menu (sub menu) is visible.
	  
############################################################################################################ */


/* ######## Menu Styles ######## */
		
	/* -- GLOBAL STYLES -- */
	
		/*All Menus*/
		.qm {font-size:1.1em;font-variant:small-caps;color:#bbb;}
		/*All Menu Links*/
		.qm a, .qm a:visited, .qm a:hover, .qm a:active {color:#bbb;} 
		/* All Menu Containers */
		.qm_sub, .qm_main {background-color:#004080;}
		/* All Menu Items */
		.qm_main>li>*:first-child, .qm_sub>li>*:first-child {color:#bbb;}
		/* All Parent Items */
		.qm_main>.qm_parent>*:first-child, .qm_sub>.qm_parent>*:first-child {background-repeat:no-repeat;background-position:right center;}
		
		
	/* -- DROP DOWN MENU STYLES -- */
		
		/* Main Container */
		.qm_drop .qm_main {padding-left:10px;
		width:auto;}
		/* Main Items */
		.qm_drop .qm_main>li>*:first-child {padding:10px 15px 10px 25px;}
		/* Main Parent Items */
		.qm_drop .qm_main>.qm_parent>*:first-child {background-image:url( url(C:/inetpub/wwwroot/tcet/C:/inetpub/wwwroot/tcet/imagess/plus_fill.png));}
		/* Main Items Hover */
		.qm_drop .qm_main>li:hover>*:first-child {color:#fff;}
		/* Main Items Active */
		.qm_drop .qm_main>.qm_item.qm_active>*:first-child {color:#fff;background-image:url(C:/inetpub/wwwroot/tcet/imagess/minus.png);}
		
		/* Sub Containers */
		.qm_drop .qm_sub {border:solid 0px #666;border-top-width:1px;}
		/* Sub Containers - Level 1 */
		.qm_drop .qm_main>li>.qm_sub {margin-left:25px;}
		/* Sub Containers - Level 2+ */
		.qm_drop .qm_sub .qm_sub {margin-top:-1px;}
		/* Sub Items */
		.qm_drop .qm_sub>li>*:first-child {padding:10px 40px 10px 10px;border:solid 0px #666;border-bottom-width:1px;}
		/* Sub Parent Items */
		.qm_drop .qm_sub>.qm_parent>*:first-child {background-image:url(C:/inetpub/wwwroot/tcet/imagess/plus_fill.png);background-position:90% center;}
		/* Sub Items Hover */
		.qm_drop .qm_sub>li:hover>*:first-child {color:#fff;}
		/* Sub Items Active */
		.qm_drop .qm_sub .qm_item.qm_active>*:first-child {color:#fff;background-image:url(C:/inetpub/wwwroot/tcet/imagess/minus.png);}
		
		/* Sub Animation */
		.qm_pure li:hover>.qm_sub, .qm_drop .qm_item.qm_active>.qm_sub {opacity:1;}
		.qm_drop .qm_sub {opacity:0;
			-webkit-transition: .5s ease-out;
			-moz-transition: .5s ease-out;
			-o-transition: .5s ease-out;
			transition: .5s ease-out;
		}
	
	
	/* -- FILL MENU STYLES -- */

		/* All Containers */
		.qm_fill .qm_menu {}
		/* All Items */
		.qm_fill .qm_item>*:first-child {padding:8px 10px 8px 10px;border:dotted 0px #333;border-bottom-width:1px;}
		/* All Parent Items */
		.qm_fill .qm_parent>*:first-child {background-image:url(C:/inetpub/wwwroot/tcet/imagess/plus_fill.png);background-size:contain;background-position:95% center;}
		
	/* -- PARENT ITEM ARROWS FOR PURE CSS MENUS */
	
		/* Main Parent Items */
		.qm_pure .qm_main>li>*:first-child {background-image:url(C:/inetpub/wwwroot/tcet/imagess/arrow_plus.png);}
		.qm_pure .qm_main>li>*:only-child {background-image:none;}
		/* Sub Parent Items */
		.qm_pure .qm_sub>li>*:first-child {background-image:url(C:/inetpub/wwwroot/tcet/imagess/arrow_plus.png);}
		.qm_pure .qm_sub>li>*:only-child {background-image:none;}
		


/* ######## Fill Window Styles (by default the fill style menu response is shown on smaller mobile devices) ######## */

	/* All Button Elements */
	.qm .qm_button {cursor:pointer;}

	/* Mobile Site Menu Button */
	.qm_fill .qm_button_open {background-color:#222;padding:10px;text-align:center;}
		/* hover effect */
		.qm_button_open:hover {text-decoration:underline;}

	/* Blockout Background */
	.qm_fill .qm_blockout {background-color:rgba(0,0,0,.7);}
	
	/* The Window */
	.qm_fill .qm_window {width:90%;height:90%;top:5%;left:5%;border:solid 2px #333;background-color:rgba(51,51,51,.8);border-radius:8px 8px 0px 0px;}
		/* Top Bar */
		.qm_fill .qm_topbar {background-color:#444;color:#eee;border-radius:8px 8px 0px 0px;}
			/* title */
			.qm_fill .qm_title {width:70%;height:70%;}
			/* menu icon */
			.qm_fill .qm_icon {width:15%;height:90%;}
			.qm_fill .qm_icon>div {background-image:url(C:/inetpub/wwwroot/tcet/imagess/menu_icon.png);left:10px;top:0px;margin:auto 0px;background-position:left center;}
			/* back button */
			.qm_fill .qm_button_back {width:15%;height:90%;}
			.qm_fill .qm_button_back>div {background-image:url(C:/inetpub/wwwroot/tcet/imagess/back.png);}
			/* close button */
			.qm_fill .qm_button_close {width:15%;height:90%;}
			.qm_fill .qm_button_close>div {background-image:url(C:/inetpub/wwwroot/tcet/imagess/close.png);}
			
	/* Slide animation timing */
	.qm_fill .qm_doc { 
		-webkit-transition: .4s ease-out;
		-moz-transition: .4s ease-out;
		-o-transition: .4s ease-out;
		transition: .4s ease-out;
	}
	
	
	
/* ######## Specific Menu Styles ######## */

	/* !!!!!! Target specific menus with a custom ID, add your custom ID to the menus NAV tag... id="my_id" !!!!!! */
	/* !!!!!! Add any desired css rules below, to target your menu add #my_id to the beginning of the css rule as shown below. !!!!!! */
	
	/* Drop Down - All Items */
	#my_id.qm_drop .qm_item>*:first-child {}
	/* Fill Style- All Items */
	#my_id.qm_fill .qm_item>*:first-child {}
	
	

/* ######## Optionally Set Main Menu Orientation Vertical ######## */

	/* !!!!!! Specify the menu to make vertical with a custom ID, add your custom ID to the menus NAV tag... id="my_id" !!!!!! */
	/* !!!!!! Remove or comment this section out for a default horizontal main menu. !!!!!! */
   	
	/* Vertically Stack Main Items */
	#my_id.qm_drop .qm_main>li {float:none;} 
	#my_id.qm_drop .qm_main>li>.qm_sub {left:100%;top:0px;}
	/* Menu Width */
	#my_id.qm_drop .qm_main {width:180px;}
	
	
	
	
	
	
